.statusInput{
    font-size: 1em;
    text-align: center;
    border-radius: 0.5vw;
}

.status{
    padding: 0vw 0.25vw;
    border-radius: 0.5vw;
    transition: border 0.5s ease;
    transition: color 0.5s ease-in;
    transition: background-color 0.5s ease;
}

.status:hover{
    border: 2px solid black;
    color: black;
    background-color: white;
}