.content {
    grid-area: c;
    background-color: #4AA19E;
    border-radius: 10px 10px 1px 1px;
  }
  .content .pfp {
    width: 128px;
  }
  .content .banner {
    height: 360 px;
    width: 640px;
    border-radius: 10px 1px 1px 1px;
  } 
