.message {
    display: table;
    padding: 0.5vw;
    background-color: #1F3041;
    margin-bottom: 7px;
    text-align: left;
    border-radius: 1vw;
    min-width:30px;
}

.myMessage {
    display: table;
    padding: 0.5vw;
    background-color: #4C89C6;
    margin-bottom: 7px;
    text-align: right;
    border-radius: 1vw;
    min-width:30px;
    max-width: 8em; /* блок занимает ширину родителя, max-width её ограничивает */
    margin-left: auto;
    margin-right: 0.4em;
}
.myMessage div {

}
