.icons {
    padding-left: 1vw;
    padding-right: 1vw;
}
.icons div{
    text-align: center;
}

.icon {
    text-align: center;
}
.icon img {
    width: 3.8vw;
    height: 3.8vw;
    border-radius: 35px;
    object-fit: cover;
}

.friendsShortcut {
    text-align: center;
}
.friendsShortcut a {
    color:white;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}
.friendsShortcut button {
    border: none
}

.friendsIcons {
    text-align: center;
    padding: 0 1.1vw
}
