.message {
    display: table;
    padding: 0.5vw;
    background-color: #1F3041;
    margin-bottom: 7px;
    text-align: left;
    border-radius: 1vw;
    min-width:30px;
    max-width: 20vw;
    word-wrap: break-word;
    word-break: break-word;
}

.myMessage {
    display: table;
    padding: 0.5vw;
    background-color: #4C89C6;
    margin-bottom: 7px;
    text-align: left;
    border-radius: 1vw;
    margin-left: auto;
    margin-right: 0.4em;
    min-width:30px;
    max-width: 20vw; /* блок занимает ширину родителя, max-width её ограничивает */
    word-wrap: break-word;
    word-break: break-word;
}

