.header {
    grid-area: h;
    border-radius: 1px 1px 2px 2px;
    border: solid #7B8997 1px;
    border-top: none;
    background-color: #314A61;
}

.img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.25em;
    margin-left: 0.25em;
}
.img img {
    width: 3.5em;
}

.slogan {
    display: inline-block;
    vertical-align: middle;
    margin: 0em 2em;
    color: white;
    font-size: 1.25em;
}

.loginBlock {
    display: inline-block;
    vertical-align: middle;
    margin: 0em 2em;
    float: right;
}
.loginBlock a {
    color: white;
}
