.nav {
    position: sticky;
    top: 0;
  }

.item a {
    color:white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    /*background-color: #D1872D;*/
}
.item a.active {
    color: midnightblue;
}

.ad {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border: 3px solid darkslategrey;
}

@media (max-width: 992px) {
    .fixedNav {
        position: fixed;
        z-index: 1;
    }
}