.nav {
    position: sticky;
    top: 0;
  }

.item a {
    color:white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    /*background-color: #D1872D;*/
}
.item a.active {
    color: midnightblue;
}