.user {
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    background-color: #1F3041;
    border:solid #151E27 1px;
    margin: -1px 0.5vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
    height: 9em;
}

.avatar {
    text-align: left;
}
.followBtn  {
    width: 5rem;
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 0.5vw;
    background-color: #1F3041;
    color: green;
}

.unfollowBtn  {
    width: 5rem;
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 0.5vw;
    background-color: #1F3041;
    color: darkred;
}

.info {
    text-align: left;
}
.info a {
    text-decoration: none;
}

.fullName {
    font-size: 1em;
    color: #E89383
}

.status {
    font-size: 0.9em;
    padding-top: 0.1em;
}

.location {
    text-align: right;
}

.img {
    width: 5rem;
    height: 5rem;
    border-radius: 40px;
    object-fit: cover;
}

.followBtn {
    border-width:2px ;
    border-style: groove;
    height: 1.5rem;
    transition: border-width 0.2s ease;
    transition: background-color 0.2s ease;
}
.unfollowBtn {
    border-width:2px ;
    border-style: groove;
    height: 1.5rem;
    transition: border-width 0.2s ease;
    transition: background-color 0.2s ease;
}
.followBtn:hover {
    border-width: 0.2em;
    background-color: #151E27;
}
.unfollowBtn:hover {
    border-width: 0.2em;
    background-color: #151E27;
}