.user {
    background-color: #1F3041;
    border:solid #151E27 1px;
    margin: -1px 0.5vw;
    padding: .5vw;
    border-radius: 0.5vw;
    height: 10em;
}

.avatar {
    text-align: left;
}

.info {
    text-align: left;
    padding-left: 0.5vw
}
.info a {
    text-decoration: none;
}

.fullName{
    font-size: 1.3em;
    color: #E89383
}

.status {
    font-size: 0.9em;
    padding-top: 0.1em;
}

.location {
    text-align: right;
}

.img {
    width: 5rem;
    height: 5rem;
    border-radius: 40px;
    object-fit: cover;
}
