.profileInfo {
    min-height: 21vw;
    max-height: 34vw;
}

.pfp {
    position: relative;
    align-content: center;
    text-align: center;
    top: -5.7vw;
    transition: 0s
}

.pfp img {
    width: 7.5vw;
    height: 7.5vw;
    object-fit: cover;
    object-position: center;
    border-radius: 4vw;
}

Image img:hover {
    transition: 0.3s all ease-in-out;
    border-radius: 100px;
}

.myPfp {
    position: relative;
    align-content: center;
    text-align: center;
    top: -5.7vw;
}

.myPfp img {
    width: 7.5vw;
    height: 7.5vw;
    object-fit: cover;
    object-position: center;
    border-radius: 4vw;

    transition: all .3s ease;
}

.banner img{
    height: 15vw;
    width: 98%;
    object-fit: cover;
    border-radius: 1px 1px 12px 12px;
    padding: 1%;
    padding-top: 0;
}

.myInfo {
    text-align: center;
    position: relative;
    top: -7.1vw;
}

.info {
    text-align: center;
    position: relative;
    top: -6vw;
}

.fullName {
    color: #E89383;
    font-size: 1.1em;
    text-shadow: 1px 1px 2px black;
}




