.profileInfo {
    min-height: 21vw;
    max-height: 34vw;
}

.pfp {
    position: relative;
    align-content: center;
    text-align: center;
    top: -5.7vw;
}

.pfp img {
    width: 7.5vw;
    height: 7.5vw;
    object-fit: cover;
    object-position: center;
    border-radius: 4vw;
}

.myPfp {
    position: relative;
    align-content: center;
    text-align: center;
    top: -5.7vw;
}

.myPfp img {
    width: 7.5vw;
    height: 7.5vw;
    object-fit: cover;
    object-position: center;
    border-radius: 4vw;

    transition: all .3s ease;
}

.inputFileLabel img:hover {
    filter: hue-rotate(-20deg) blur(2px) brightness(57%);
}

.banner img{
    height: 15vw;
    width: 98%;
    object-fit: cover;
    border-radius: 1px 1px 12px 12px;
    padding: 1%;
    padding-top: 0;
}

.photoLoader {
    text-align: center;
    position: relative;
    top: -1.45vw;
    left: 24.6vw;
    margin: 0.09vw;
    width: 1.5vw;
    height: 1vw;
}

.inputFile {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputFileButton img {
    width:1vw;
    height:1vw;
    border-radius: 0.25vw;
    object-fit: cover;
    object-position: center;
    background-color: cornflowerblue;
}

.inputFile + .inputFileButton {
    cursor: pointer;
}
.inputFileButton img:hover {
    background-color: forestgreen;
}

.inputFile + .inputFileLabel {
    cursor: pointer;
}

.myInfo {
    text-align: center;
    position: relative;
    top: -7.1vw;
}

.info {
    text-align: center;
    position: relative;
    top: -6vw;
}

.fullName {
    color: #E89383;
    font-size: 1.1em;
    text-shadow: 1px 1px 2px black;
}




