.item {
    color: white;
    background-color: #1F3041;
    margin: 1vw 0vw 1vw 0vw;
    text-shadow: 1px 1px 2px black;
    border: solid #151E27 6px;
    border-radius: 10px;
    border-top: 0px;
    border-bottom: 0px;
    padding: 5px;
    font-weight: 500;
    font-size: 1.1rem;
}

.img {
    display: inline-block;
}
.img img {
    width: 3em;
    height: 3em;
    border-radius: 30px;
    object-fit: cover;
}

.content {
    vertical-align: top;
    display: inline-block;
    margin-left: 1.5em;
}

.name {
    vertical-align: top;
    color: #E89383;
    font-size: 1rem;
}

.postText {
    word-break: break-word;
    word-wrap: break-word;
    vertical-align: middle;
}

.deleteButton{
    text-align: right;
}

