.app-wrapper {
    margin: 0 auto;
    justify-content: center;
    display: grid;
    width: 75%;

    grid-template-areas: "h h" "n c";
    grid-template-rows: 90px 1fr;
    grid-template-columns: 2fr 14fr;
    grid-gap: 0.9vw;
}

.app-wrapper-content {
    grid-area: c;
    font-weight: 400;
    font-size: 18px;
    color: white;
    background-color: #314A61;
    border-radius: 10px 10px 1px 1px;
    border: solid #1F3041 5px;
    border-bottom: none;
}

