.formControl {
    width: 100%;
}
.formControl input {
    width: 100%;
}

.error span{
    border: solid red 1px;
    border-radius: 5px;
    background-color: lightpink;
    padding: 0.2em;
    font-size: 0.7em;
}
.formControl.error input,
.formControl.error textarea {
    width: 100%;
    border: solid red 2px;
}