.inputFileLabel {
    margin-bottom: 5px;
}
.inputFileLabel img {
    display: inline-block;
    padding: 0.1vw;
    overflow: hidden;
}
.inputFileLabel img:hover {
    filter: hue-rotate(-20deg) brightness(57%);
}

.photoLoader {
    text-align: center;
    position: relative;
    top: -1.45vw;
    left: 24.6vw;
    margin: 0.09vw;
    width: 1.5vw;
    height: 1vw;
}

.inputFile {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputFileButton {
    width:1.5vw;
    height:1.5vw;
    border-radius: 0.25vw;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease all;
}

.inputFile + .inputFileButton {
    cursor: pointer;
}
.inputFileButton:hover {
    color: forestgreen;
}

.inputFile + .inputFileLabel {
    cursor: pointer;
}

.pfp {
    display: inline-block;
    padding: 0.1vw;
    overflow: hidden;
    transition: 0.3s ease all;
}
.pfp:hover {
    filter: hue-rotate(-20deg) brightness(58%);
}

.pfpPreview {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.pfpPreview img{
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
    max-width: 700px;
    border-radius: 0;
}

.pfpPreview img {
    animation-name: zoom;
    animation-duration: 0.5s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .pfpPreview img {
        width: 100%;
    }
}