.linkBtn img {
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 1.3vw;
    margin: 0vw 0.15vw;
    margin-top: 0.5vw;
    cursor: pointer;
    transition: all .3s ease;
}

.linkBtn img:hover {
    filter: hue-rotate(-10deg) invert(20%) brightness(80%) ;
}