.linkBtn img {
  width: 42px;
  height: 42px;
  border-radius: 25px;
  margin: 0vw 0.15vw;
  margin-top: 0.5vw;
  cursor: pointer;
  transition: all 0.3s ease;
}

.linkBtn img:hover {
  filter: hue-rotate(-10deg) invert(20%) brightness(80%);
}

@media (max-width: 767px) {
  .linkBtn img {
    width: 29px;
    height: 29px;
  }
}
