.linkBtn img {
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    margin: 0vw 0.15vw;
    margin-top: 0.5vw;
    cursor: pointer;
    transition: all .3s ease;
}

.linkBtn img:hover {
    filter: hue-rotate(-10deg) invert(20%) brightness(80%) ;
}

@media (max-width: 767px) {
    .linkBtn img {
        width: 2em;
        height: 2em;
    }
}