.filters {
    height: 4em;
    line-height: 4em;
    padding: 0vw 4.5vw;
    background-color: #141414;
    border-radius: 5px;
    color: white
}
.filters button {
    height: 2vw;
    margin: 0.5em;
}

.usersSearch {
    width: 10vw;
    height: 2vw;
    border-radius: 4px;
    border: 1px solid darkgrey;
}

.usersSwitch {
    margin-right: 0.3em;
}
.filters label{
    margin-right: 1em;
}