.infoAbout {
    padding: 0vw 1vw;
    position: relative;
    text-align: left;
    top: -4vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*overflow:auto;*/
}

.settingsBtn {
    float: left;
}

.settingsBtn img{
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    transition: all .3s ease;
}

.settingsBtn img:hover {
    width: 1.5vw;
    height: 1.5vw;
    transform: rotate(45deg);
}

@media (max-width: 767px) {
    .infoAbout {
        font-size: 13px;
    }
}